@using Bank.Domain.Entities
@model BankAccount
@{
    ViewBag.Title = "Index";
}

<div>
    <div>
        User Accounts
    </div>
    <div>
        Your name: @Model.FirstName
        Your balance: @Model.Balance
        Your Account number: @Model.Id
    </div>
</div>
@Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Historia", "History", "Operiation", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Wypłać środki", "Withdraw", "Operiation")
@Html.ActionLink("Wpłać środki", "Deposit", "Operiation")
@Html.ActionLink("Przelej środki", "Transfer", "Operiation")

